<div class="row">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Select your filters:</h4>
            <p>
                <mat-checkbox [formControl]="disableSelect">Name:</mat-checkbox>
              </p>
              
              <mat-form-field class="example-full-width">
                <mat-label>Number</mat-label>
                <input type="text"
                       placeholder="Pick one"
                       aria-label="Number"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of authors.results" [value]="option.display_name">
                    {{option.display_name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
        </div>
      </div>
</div>
