<div class="row">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Select your filters:</h4>
            <p>
                <mat-checkbox [formControl]="disableSelect">Name:</mat-checkbox>
              </p>
              
              <mat-form-field>

                <mat-label>Enter the name</mat-label>
                <input matInput [disabled]="disableSelect.value">

                <!-- <mat-label>Choose an option</mat-label>
                <mat-select [disabled]="disableSelect.value">
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select> -->
              </mat-form-field>  
        </div>
      </div>
</div>



  
  