<div class="row">
  <div class="card">
    <div class="card-body">
        <h4 class="card-title">Info</h4>
        <div class="table-responsive">
          <div>
            <ul>
              <li>Number of authors: {{ initialValue.meta.count }}</li>
            </ul>
          </div>
        </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Search by Id
            </mat-panel-title>
          </mat-expansion-panel-header>
          <input type="string" [(ngModel)]="openAlexId">
          <button type="button" (click)="searchAuthor()">Search</button>
          <div *ngIf="errorInSearch && searchById === false" class="alert">
              <div >
                Error in search
              </div>
            </div>
        </mat-expansion-panel>
      </mat-accordion>
      
    </div>
  </div>


  <div class="card" *ngIf="searchById === false">
    <div class="card-body">
        <h4 class="card-title">Works</h4>
        <div class="table-responsive">
            <table class="table table-bordered align-middle text-nowrap">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">#</th>
                        <th class="text-dark font-medium fs-4">OpenAlex ID</th>
                        <th class="text-dark font-medium fs-4">Name</th>
                        <th class="text-dark font-medium fs-4">Works Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let result of initialValue.results; index as i'>
                        <td>
                            {{ i + 1 }}
                        </td>
                        <td>
                            {{result.id}}
                        </td>
                        <td>
                            {{ result.display_name }}
                        </td>
                        <td>
                          {{ result.works_count }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>

  <div class="card"  *ngIf="searchById === true">
    <div class="card-body">
        <h2 class="card-title">{{ initialValueById.display_name }}</h2>
        <div>
          <ul>
            <li>OpenAlexID: {{ initialValueById.id }}</li>
            <li>OrcID: {{ initialValueById.orcid }}</li>
            <li>Count of Works: {{ initialValueById.works_count }}</li>
          </ul>
        </div>
        <div>
          <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Name Altrernatives
              </mat-panel-title>
            </mat-expansion-panel-header>
              <ul>
                <li *ngFor='let name of initialValueById.display_name_alternatives'>{{ name }}</li>
              </ul>
          </mat-expansion-panel>
        </div>
    </div>
  </div>
</div>