.wrapper {
    display: grid;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.wrapper button{
    width: 100px;
    display: block;
    margin: 0 auto;
    padding: 12px 16px;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
}

:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }
  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }
  .button {
    display: flex;
    justify-content: flex-end;
  }