.wrapper {
    display: grid;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.wrapper button{
    width: 100px;
    display: block;
    margin: 0 auto;
    padding: 12px 16px;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
}