<div class="row">
  <div class="row">
    <div class="col-lg-12">
      <h4 class="card-title mb-0">Number of records:</h4>
      <input type="number" [(ngModel)]="id" placeholder="Ingrese un valor entero">
      <button type="button" (click)="sendId()">Enviar</button>
    </div>
  </div>

  <div class="col-lg-12">
    <!-- ==================================-->
    <!-- ======== Outline Alert ========= -->
    <!-- ==================================-->
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Works</h4>
      </div>
      <div class="card-body border-top">
        <div class="container">
          <div class="row">
              <table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Lenguaje</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let result of initialValue.results">
                    <tr>
                      <td>{{ result.id }}</td>
                      <td>{{ result.title }}</td>
                      <td>{{ result.language }}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              <!-- <div class="col">
                <p>{{ initialValue.meta.count }}</p>
                <p>{{ initialValue.meta.page }}</p>
                <p>{{ initialValue.results[0].id}}</p>
                <p>{{ initialValue.results[0].title}}</p>
                <p>{{ initialValue.results[0].language}}</p>
                </div> -->
            </div>
          </div>
        </div>
    </div>
  </div>
</div>